.wrapper {
	&--purchase {

	}
}
.purchase {
	&__block {
		width: 600px;
	}
	&__left, &__right {
		width: 50%;
	}
	&__left {
		p {
			text-transform: uppercase;
			line-height: 1;
			font-size: 27px;
			color: #adadad;
			display: inline-block;
			vertical-align: middle;
			line-height: 1.25;
			@media screen and (max-width: 1239px),  screen and (max-height: 950px) {
				font-size: 23px;
			}
		}
	}
	&__right {
		p {
			color: #454545;
			font-size: 42px;
			@media screen and (max-width: 1239px),  screen and (max-height: 950px) {
				mfont-size: 36px;
			}
		}
		ul {
			display: inline-block;
			vertical-align: middle;
			li {
				line-height: 1;
				color: #454545;
				font-size: 34px;
				@media screen and (max-width: 1239px),  screen and (max-height: 950px) {
					font-size: 28px;
				}
				& + li {
					margin-top: 8px;
				}
			}
		}
	}
	&__top, &__middle, &__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__top {
		padding-bottom: 50px;
		border-bottom: 1px solid #f0f0f0;
		@media screen and (max-width: 1239px),  screen and (max-height: 950px) {
			padding-bottom: 25px;
		}
	}
	&__middle {
		padding: 20px 0;
		border-bottom: 1px solid #f0f0f0;
		@media screen and (max-width: 1239px),  screen and (max-height: 950px) {
			padding: 15px 0;
		}
		.purchase {
			&__right {
				text-align: right;
			}
		}
	}
	&__bottom {
		margin-top: 30px;
		@media screen and (max-width: 1239px),  screen and (max-height: 950px) {
			margin-top: 25px;
		}
		.btn {
			margin: auto;
			width: 390px;
			height: 120px;
			@media screen and (max-width: 1239px),  screen and (max-height: 950px) {
				width: 340px;
				height: 80px;
			}
			&:before {
				border-radius: 28px;
			}
		}
	}
}